<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>hello</title>-->
<!--</head>-->
<!--<body>-->
    <!--{% if name == 'wy' %}-->
        <!--<h1>hello,this is {{name}}!</h1>-->
    <!--{% else %}-->
        <!--<h1>hello,this is stranger!</h1>-->
    <!--{% endif %}-->
    <!--<ul>-->
        <!--{% for comment in comments %}-->
            <!--<li>{{ comment }}</li>-->
        <!--{% endfor %}-->
    <!--</ul>-->
<!--</body>-->
<!--</html>-->


{% extends "bootstrap/base.html" %}
{% block title %}Flasky{% endblock %}
{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"
                    data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Flasky</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="container">
    <div class="page-header">
        <h1>Hello, {{ name }}!</h1>
    </div>
</div>
{% endblock %}